Repository Max-Black-De/react-todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsc --noEmit, npx eslint, npx prettier --check

Edits have been made
  .lintstagedrc.json
Due: none

Edits have been made
  src/components/App/App.jsx
Due: npx eslint

Update README.md
  README.md
Due: none

renamed
  src/index.jsx
Due: npx eslint

added space
  src/components/todo-filter-list/todo-filter-list.jsx
Due: npx eslint

test
  .husky/pre-commit
  .prettierrc.json
  package-lock.json
  package.json
  src/components/App/App.jsx
  src/components/App/a.txt
  src/components/new-task-form/new-task-form.css
  src/components/new-task-form/new-task-form.jsx
  src/components/todo-footer/todo-footer.jsx
  src/components/todo-list-item/todo-list-item.css
  src/components/todo-list-item/todo-list-item.jsx
  src/components/todo-list/todo-list.jsx
Due: npx eslint, npx prettier --check

Working variant Next step building timer
  .prettierrc.json
  src/components/App/App.jsx
  src/components/todo-filter-list/todo-filter-list.jsx
  src/components/todo-footer/todo-footer.jsx
  src/components/todo-list-item/todo-list-item.jsx
  src/components/todo-list/todo-list.jsx
Due: npx eslint

Fixed some bugs
  src/components/todo-filter-list/todo-filter-list.jsx
  src/components/todo-footer/todo-footer.jsx
  src/components/todo-list/todo-list.jsx
Due: npx eslint

Fully working version
  src/components/App/a.txt
  src/components/new-task-form/new-task-form.jsx
  src/components/todo-list-item/todo-list-item.jsx
  src/components/todo-list/todo-list.jsx
Due: npx eslint

Some fixes
  src/components/todo-list-item/todo-list-item.jsx
Due: npx eslint

commented logs
  .husky/pre-commit
  src/components/todo-list-item/todo-list-item.jsx
Due: npx eslint

Using useState, useEffect, useCallback
  src/components/todo-list-item/todo-list-item.jsx
Due: npx eslint

last fix
  src/components/todo-list-item/todo-list-item.jsx
Due: npx eslint

Path conditions:
  npx tsc --noEmit: any of: *.ts
  npx eslint: any of: *.{js,jsx,ts,tsx}
  npx prettier --check: any of: *.{js,ts,tsx,html,css}
